<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Document</title>
</head>
<body>
    <div layout:fragment="content">
        <a href="../products/newItem">add new item</a>
        <table class="table">
            <thead>
                <tr>
                    <th style="text-align: center;">ID</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(products)}">
                    <td style="text-align: center;" colspan="4">No Orders Available</td>
                </tr>
                <tr th:each="product : ${products}">
                    <td style="text-align: center;"><h5 th:text="${product.id}">null</h5></td>
                    <td style="text-align: center;"><h5 th:text="${product.name}">null</h5></td>
                    <td style="text-align: center;"><h5 th:text="${product.price}">null</h5></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>