<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Registration</title>
</head>
<body>
	<div layout:fragment="content">
    	<form action="#" th:action="@{doRegistration}" th:object="${registerModel}" method="post" style="max-width: 330px; padding: 15px;" class="m-auto">
            <h1 class="h3 mb-3 fw-normal" style="text-align: center;">Register</h1>
            <input th:field="*{firstName}" type="text" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
            <input th:field="*{lastName}" type="text" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>
            <input th:field="*{email}" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input th:field="*{password}" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <input th:field="*{password}" type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p>Already a member? <a href="/login/">Log in</a></p>

            <!-- <div th:if="${#fields.hasErrors('*')}">List of Errors</div> -->
            <div th:each="err : ${#fields.errors('*')}">
                <span style="color: red;" th:text="${err}" class="fieldError"></span>
            </div>
        </form>
	</div>
</body>
</html>